Binaries
DerivedDataCache
Intermediate
Saved
ParagonLtBelica
ParagonMurdock
AnimStarterPack
AnimationsToRetarget
MixamoCharacter
FPS_Weapon_Bundle
A_Surface_Footstep
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace